#phylolink-content {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

#phylolink-visualization {
    float: left;
    overflow-x: auto;
}

#widgets-overlay {
    /*background-color: rgb(255, 254, 247);*/
    background-color: rgb(0, 0, 0);
    border-style: hidden;
    border-right: 2px;
    border-left: 2px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    position: absolute;
    border-radius: 20px;
}

#phylolink-widgetpanel {
    overflow-y: hidden;
    position: absolute;
}

#phylolink-widgets {
    float: left;
    border-left: 1px;
    border-left-color: #808080;
    overflow-y: auto;
    position: absolute;
    left: 0px;
    top: 0px;
}

#phylolink-content .phylolink-widget {
    color: #808080;
    background-color: #ffffff;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #808080;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
}

#phylolink-content .phylolink-env {
    width: 300px;
    height: 300px;
}

#phylolink-content .phylolink-widget h6 {
    text-align: center;
}

#phyolink-widgetsblock {
    position: relative;
}

#phylolink-widgetsscrollable {
    /*overflow-y: auto;*/
}

input[type="radio"][disabled], label[class="radio"][disabled]  {
    color: #d3d3d3;
}

.selection-info {
    font-size: 13px;
    position: relative;
    top: -50px;
    padding: 8px 15px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    color: #c09853;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

.heading-underlined {
    text-decoration: underline;
}

.padding-left-1 {
    padding-left: 10px;
}

.padding-left-2 {
    padding-left: 20px;
}

.padding-left-3 {
    padding-left: 40px;
}

.padding-right-1 {
    padding-right: 10px;
}

.padding-right-2 {
    padding-right: 20px;
}

.padding-right-3 {
    padding-right: 40px;
}

.padding-top-1 {
    padding-top: 10px;
}

.padding-top-2 {
    padding-top: 20px;
}

.margin-left-1 {
    margin-left: 10px;
}

.margin-left-2 {
    margin-left: 20px;
}

.margin-left-3 {
    margin-left: 40px;
}

.margin-right-1 {
    margin-right: 10px;
}

.margin-right-2 {
    margin-right: 20px;
}

.margin-right-3 {
    margin-right: 40px;
}

.margin-top-1 {
    margin-top: 10px;
}

.margin-top-2 {
    margin-top: 20px;
}

.margin-top-3 {
    margin-top: 40px;
}

.text-center {
    text-align: center;
}

.border-bottom {
    border-bottom: 1px solid #f2684c;
    margin-bottom: 20px;
}

.border-bottom h1 {
    margin-top: 30px;
    margin-bottom: 0;
}

.small {
    font-size: 12px;
}

.inline-block {
    display: inline-block;
}

.modal-wide {
    width: 700px;
}


.modal-wide .input-xlarge {
    width: 480px;
}