/*@import url("base.css");*/
/*@import url('colorbox/colorbox.css');*/
/*@import url('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css');*/
@import url('ala-theme/jquery-ui-1.8.23.custom.css');
@import url('http://code.jquery.com/qunit/qunit-git.css');


h1, h2, h3, h4, h5, h6 {
    font-family: Arial,Helvetica,sans-serif;
}

#page-header h1 {
    margin-top: 10px;
    font-size: 2.5em;
}
/*TOOLTIPS*/
.tip {
    color: #111;
    max-width: 400px;
    width: auto;
    height: auto;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:1;
    filter:alpha(opacity=100);
    background-color:#EEF2F7;
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

.tip .tipImage{
  width: 100%;
  height: auto;
  padding-top:5px;
}
.tipImage{
    max-width: 300px;
    margin-left: -10px;
}
/* added by temi, white background for canvas */
#infovis-canvas{
/*   background-color:#F4EDE9; */
/*   background-color:#E4FFAE; */
background-color:#EEF2F7;
}
.box {
  width: 10px;
  height: 10px;
  margin-left:2px;
}
.square {
  width: 10px;
  height: 10px;
  margin-left:2px;
  background-image: url('../images/Extras/Phylojive/transparentSquare.png');
}
.star {
  width: 10px;
  height: 10px;
  margin-left:2px;
  background-image: url('../images/Extras/Phylojive/transparentStar.png');
}
.quant {
  width: 10px;
  height: 10px;
  margin-left:2px;
}
.quantAlign {
  width: 10px;
  height: 25px;
  margin-left:2px;
}
.triangle {
  margin-left:2px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid;
}
.empty {
  width: 10px;
  height: 5px;
  margin-left:2px;
  border-bottom: 1px solid black;
}
.roundedCorner {
  background-color: #464646;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
/*   padding: 20px; */
}
.forward {
  background:url('../images/Extras/Phylojive/linkout.png') no-repeat;
  background-position:center;
  height: 16px;
  width: 16px;
  cursor:pointer;
  padding-left:10px;
  padding-top :10px;
  
}
/*.forward:hover {
  background:url('../../Extras/Phylojive/linkout.png') no-repeat;
  height: 16px;
  width: 16px;
  cursor:pointer;
}*/
#jitmenubutton{
  margin-left:45%;
/*   margin-top:10px; */
}
#jitmenubutton.menubutton {
    display:none;
    position:absolute;
  background:url('../images/Extras/Phylojive/controls.png') no-repeat -101px 0px;
  height: 50px;
  width: 50px;
  cursor:pointer;
}
#jitmenubutton.menubutton:hover {
  background-color:blue;
}
#jitmenubutton.on {
  background-color:blue;
}
#jitcontainer {
  margin: 0 auto;
  position:relative;
}

#center-jitcontainer {
  width: auto;
}

#navigationPanel {
  padding-top:15px;
  position:absolute;
  text-align: center;
  font-size: 13px;
}
.phylojivepadding {
  margin: 0px;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* @end */

#right-jitcontainer {
    width:34%;
    color:#686c70;
    text-align: left;
    /*overflow: auto;*/
    background-color: white;
    background-repeat:no-repeat;
    float:left;
    font-size:small;
    /*position:absolute;*/
    /*right: 0px;*/
    z-index:2;
    border: 2px solid #464646;
    border-left: none;
}

#center-jitcontainer {
    float:left;
    color:#ccc;
    width: 65%;
    font-size: 14px;
    border: 2px solid #464646;
}

#right-jitcontainer, 
#center-jitcontainer {
    top:0;
}

#center-container {
  background-color: white;
}

#log {
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
    float: none;
    /*top: 0;*/
    /*position: relative;*/
}

#infovis {
    position:relative;
    margin:auto;
    overflow:hidden;
    width: auto;
    height: auto;
}
#popup {
  background-color:#E0E2E7;
  z-index:10;
}

#right-container {
  height: auto;
}

table {
    margin-top: 0;
    border: 0;
    padding: 0;
}

table th, table td {
    padding: 1px 4px;
}

div.node {
    vertical-align: top;
}

#right-jitcontainer #tabs, #right-jitcontainer #accordion {
    /*height: auto;*/
    padding: 0;
    margin: 0;
    /*overflow-y: scroll;*/
    border:none;
    width: 100%;
}

.ui-tabs-panel {
    padding: 4px;
    /*height: 390px;*/
    overflow-y: scroll;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 1em;
}

#tabs h4 {
    margin-bottom: 10px;
}

div.message {
    font-size: 14px;
    color: red;
    padding: 10px 0;
}
.inline {
    display: inline-block;
}

#breadcrumb {
    width: 60%;
}

#newTreeButton {
    float: right;
}


.frontpage #screenshot {
    margin-top: -10px;
    width: 450px;
    float: right;
}

.frontpage #description {
    float: left;
    width: 500px;
    font-size: 13px;
}

figure {
    margin:0 auto;
    width: 60%;
}

figure figcaption {
    margin: 10px;
}

figure img {
    display: inline-block;
    margin:0 auto;
}

#create-tree textarea, #edit-tree textarea {
    width: 560px;
    height: 200px;
}